<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>상당 챗봇</title>
</head>
<body>
    <style>
        .chat-content{height: 350px; overflow-y: scroll;}
        .line{margin-top: 10px; display: flex;}
        .chat-box{background: yellow; padding: 5px; max-width: 200px;}
        .mine{margin-left: auto;}
    </style>
    <div>
        <h1>상담 챗봇</h1>
    </div>
    <div class="chat-content">
        <div class="line">
            <span class="chat-box">안녕?</span>
        </div>
        <div class="line">
            <span class="chat-box mine">안녕!</span>
        </div>
    </div>
    <input class="chat-box" id="input">
    <button id="send">전송</button>
    <script type="module">
        document.querySelector('#send').addEventListener('click', function(){
            var template = `<div class="line"><span class="chat-box mine">${ document.querySelector('#input').value }</span></div>`
                document.querySelector('.chat-content').insertAdjacentHTML('beforeend',template)
        const senddata = document.querySelector('#input').value;
        console.log("check before sending",senddata);
        fetch("https://chatbotserver-clue31415s-projects.vercel.app/askgpt",{method: "POST", headers: { 'Content-Type': 'application/x-www-form-urlencoded', },body: JSON.stringify(senddata),})
      .then(res => res.text())
      .then(data => {
        console.log("checking",data);
        if (data.indexOf('기쁜 노래') != -1) {
        var template = `<div class="line"><span class="chat-box">${ data }</span><audio src="./happysong.m4a" controls loop></audio><div>`
        } else {
            var template = `<div class="line"><span class="chat-box">${ data }</span><div>`
        }
        document.querySelector('.chat-content').insertAdjacentHTML('beforeend',template);
      });
    });
    </script>
</body>
</html>